{{ define "index_content" }}
<section class="hero">
  <div class="hero-inner">
    <img class="hero-badge" src="/static/img/anteiku_logo.png" alt="Антейковские номинации 2025 года" />

    <div class="hero-grid">
      <div class="hero-left">
        <h1 class="title gradient-text">Anteiku Awards 2025</h1>
        <p class="subtitle">Встречаем окончание года. Номинации. Голосование.</p>
        <a class="btn btn-primary btn-shine" href="/vote">Начать голосование</a>
      </div>

      <div class="hero-right">
        <img class="hero-cup" src="/static/img/trophy.png" alt="Trophy" />
      </div>
    </div>
  </div>
</section>
{{ end }}
